body{
    font-family: Tahoma;
    background: #AFEEEE;
    margin: 0;
    background-image: url(nature.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
h1 {
   cursor: help;
   margin: 0;
   text-transform: uppercase;
   padding-bottom: 5px;
   border-bottom: 3px solid #8B008B;
}
form{
    margin: 0 auto;
    background: rgba(123, 104, 238);
    width: 450px;
    height:500px;
    padding: 20px;
    box-shadown: 2px 2px 5px rgba (75, 0, 130)
}
.group{
      nargin: 10 px;
      padding: 5px;
}
lable{
     padding-left: 10px;
     text-transform: uppercase;
}
input{
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius:20px/20px;
    border: none;
    pendding-left: 15 px;
    font-size: 18px;
    box-shadown: 2px 2px 5px rgba (106, 90, 205);
}
input:focus{
    border: 2px solid #7B68EE
    transform: translateX(15px);
    width: 385px;
}
button{
      cursor: pointer;
      padding: 10px 30px;
      height: 50px;
      color: #FFFFFF;
      background: #9932CC;
      border: none;
      text-transform: uppercase;
      font-size: 15px;
      box-shadown: 2px 2px 5px rgba (128, 0, 128);
}
button:hover{
   opacity: .80;
   font-weight: bold;
   transform: scale(1.1);
}
footer{
    width: 100%;
    height: auto;
    background: #000000;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: white;
    font-size: 25px;
    margin-left: 50px;
}

footer nav a:hover{
    border-bottom: 1px solid white;
}
.social img{
    margin-left:20px;
    margin-bottom: 20;
}
.social img:hover{
    background: #494949;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}